<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <section class="error">
        <div class="error-con">
            <img src="/img/error.gif" alt="">
        <p>Sorry, we couldn't find this page. But don't worry, you can find <br>
            plenty of other things on our <a href="/">homepage.</a>
        </p>
        </div> 
    </section>
</body>
</html>