<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <!-- logo icon -->
    <link rel="icon" type="image/x-icon" href="/img/logo_pic1.webp">
    <!-- css -->
    <link rel="stylesheet" href="/style.css">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- -------- nav start --------------- -->
    <nav class="con">
        <div class="con-item">
            <div class="logo">
                <a href="/">NATURAFACE</a>
            </div>
    
            <input type="checkbox" id="check">
            <ul class="menu">
                <li><a href="/">HOME</a></li>
                <li><a href="/about-us">ABOUT US</a></li>
                <li><a href="/search"><i class="fa fa-search"></i></a></li>
                <li><a href="/login"><i class="fa fa-user"></i></a></li>
                <label for="check" class="close-menu">X</label>
            </ul>
            <label for="check" class="open-menu"><i class="fa fa-bars"></i></label>
        </div>

    </nav>
    <!-- -------- nav end --------------- -->

    <!-- -------- section start --------------- -->
    <section>
        <div class="about-con">
            <h1>Meet our team of creators, <br> designers, and developer</h1>
            <div class="about-grid-con">
                <div class="about-item">
                    <img src="https://lh5.googleusercontent.com/d/13TcLR_lfu-2GI_YsNrOMGovmFKmhQAPS" alt="">
                    <h3>Jirawat Ornsri</h3>
                    <p>Developer, Design</p>
                    <ul class="contact">
                        <h4>Contact</h4>
                        <li><a href="https://www.instagram.com/beampxr/"><i class="fa fa-instagram"></i>beampxr</a></li>
                        <li><a href="mailto:jirawat.orn@student.mahidol.edu"><i class="fa fa-envelope"></i>Email</a></li>
                    </ul>
                </div>
                <div class="about-item">
                    <img src="https://lh5.googleusercontent.com/d/1u6JlL8Ee9atNWyGpRZv-GPVO8xv63JfD" alt="">
                    <h3>Unchitta aryuyong</h3>
                    <p>Developer, Design</p>
                    <ul class="contact">
                        <h4>Contact</h4>
                        <li><a href="https://www.instagram.com/aunayy/"><i class="fa fa-instagram"></i>aunayy</a></li>
                        <li><a href="mailto:unchitta.ary@student.mahidol.edu"><i class="fa fa-envelope"></i>Email</a></li>
                    </ul>
                </div>
                <div class="about-item">
                    <img src="https://lh5.googleusercontent.com/d/15XKaVwTzJ5R_dEixE4bQk_OsrcAaym7o" alt="">
                    <h3>Sukkamit</h3>
                    <p>Developer, Design</p>
                    <ul class="contact">
                        <h4>Contact</h4>
                        <li><a href="https://www.instagram.com/skm_.032/"><i class="fa fa-instagram"></i>skm_.032</a></li>
                        <li><a href="mailto:sukkamit.sin@student.mahidol.edu"><i class="fa fa-envelope"></i>Email</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- -------- section end --------------- -->

    <!-- -------- footer start --------------- -->
    <footer>
        <div class="footer-item-con">
            <div class="footer-item">
                <input type="text" id="send" placeholder="MESSAGE">
                <button type="submit">SEND</button>
            </div>

            <ul class="social">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div>

        <div class="footer-grid">
            <div class="grid-item">
                <h3>NAVIGATE</h3>
                <ul class="item">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/search">SEARCH</a></li>
                    <li><a href="/about-us">ABOUT US</a></li>
                    <li><a href="/search">PRODUCT</a></li>
                    <li><a href="/about-us">CONTACT</a></li>
                </ul>
            </div>

            <div class="grid-item">
                <h3>HELP</h3>
                <ul class="item">
                    <li><a href="/about-us">FAQ</a></li>
                    <!-- <li><a href="">AIZE GUIDE</a></li>
                    <li><a href="">SHIPPING & RETURNS</a></li> -->
                    <li><a href="/about-us">CONTACT</a></li>
                </ul>
            </div>

            <div class="grid-item">
                <h3>ACCOUNT</h3>
                <ul class="item">
                    <li><a href="/login">LOG IN</a></li>
                    <!-- <li><a href="">REGISTER</a></li> -->
                </ul>
            </div>

            <div class="grid-item">
                <h3>SHOUT OUT</h3>
                <p>We appreciate your interest in Our NATURAFACE We appreciate your support. Please don't hesitate to ask if there is a way we can help. We are eager to help you.</p>
            </div>
        </div>

        <div class="footer-payment-con">
            <ul class="payment">
                <li><i class="fa fa-cc-visa"></i></li>
                <li><i class="fa fa-credit-card"></i></li>
                <li><i class="fa fa-cc-mastercard"></i></li>
                <li><i class="fa fa-cc-paypal"></i></li>
                <li><i class="fa fa-cc-discover"></i></li>
                <li><i class="fa fa-cc-jcb"></i></li>
            </ul>
        </div>

        <div class="copyright">
            <div class="copy">
                COPYRIGHT &COPY; 2023 Web Project.
            </div>
            
            <div class="credit">
                Web Project , POWERED BY Group5Sec2
            </div>
        </div>

    </footer>
    <!-- -------- footer end --------------- -->
</body>

</html>