<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- logo icon -->
    <link rel="icon" type="image/x-icon" href="/img/logo_pic1.webp">
    <!--css link-->
    <link rel="stylesheet" href="/style.css">

    <!--icon link-->
    <script src="https://kit.fontawesome.com/31cbf14b10.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <!-- -------- nav start --------------- -->
    <nav class="con">
        <div class="con-item">
            <div class="logo">
                <a href="/">NATURAFACE</a>
            </div>
    
            <input type="checkbox" id="check">
            <ul class="menu">
                <li><a href="/">HOME</a></li>
                <li><a href="/about-us">ABOUT US</a></li>
                <li><a href="/search"><i class="fa fa-search"></i></a></li>
                <li><a href="/login"><i class="fa fa-user"></i></a></li>
                <label for="check" class="close-menu">X</label>
            </ul>
            <label for="check" class="open-menu"><i class="fa fa-bars"></i></label>
        </div>

    </nav>
    <!-- -------- nav end --------------- -->

    <main>
        <!--ส่วนที่ 1-->
        <article class="welcome">
            <article id="title">WELCOME TO<br> NUTURAFACE</article>
            <article id="content">สวัสดีพวกเรา NUTURAFACE <br>สกินแคร์สารสกัดจากธรรมชาติ เหมาะกับทุกสภาพผิว <br>ปลอบประโลมผิวคุณอย่างอ่อนโยน <br>ช่วยให้คุณเผยผิวกระจ่างใส ไร้รอยกังวล</article>

            <!--ปุ่มกด "ช้อปเลย!"-->
            <a href="/about-us" id="button">About Us</a>
        </article>

        <!--ส่วนที่ 2-->
        <article class="about">
            <article class="head">About Our Products</article>
            <article class="container">
                <article class="col">
                    <!--ที่มา: https://www.flaticon.com/free-icon/lotion_4337723?term=skincare&page=1&position=27&origin=search&related_id=4337723-->
                    <img src="https://lh5.googleusercontent.com/d/1Cu2-xVjQ90zpuUX4rA94y3x0hydtCsFq">
                    <p>สารสกัดจากใบชาธรรมชาติ ช่วยต้านเชื้อแบคทีเรีย และรักษาสิวบนผิวหน้า </p>
                </article>
                <article class="col">
                    <!--ที่มา: https://www.flaticon.com/free-icon/serum_6527427?term=skincare&page=1&position=89&origin=search&related_id=6527427-->
                    <img src="https://lh5.googleusercontent.com/d/1ZOlAqS7hIy2eopzsfSLu1beuvPB-SGJW">
                    <p>ผสมเมือกหอยทากเพื่อเพิ่มความชุ่มชื้นให้แก่ผิว ช่วยให้ผิวหน้านุ่มและเรียบเนียน</p>
                </article>
                <article class="col">
                    <!--ที่มา: https://www.flaticon.com/free-icon/beauty_8495891?term=skincare&page=1&position=57&origin=search&related_id=8495891-->
                    <img src="https://lh5.googleusercontent.com/d/1_2g0L_7Cdv6dkz72HEj61NlTsszoM-5B">
                    <p>ผ่านการทดสอบตามมาตรฐานสากล เหมาะกับทุกสภาพผิวแม้ผิวแพ้ง่าย</p>
                </article>
        </article>
        </article>
    </main>

    <!-- -------- footer start --------------- -->
    <footer>
        <div class="footer-item-con">
            <div class="footer-item">
                <input type="text" id="send" placeholder="MESSAGE">
                <button type="submit">SEND</button>
            </div>

            <ul class="social">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div>

        <div class="footer-grid">
            <div class="grid-item">
                <h3>NAVIGATE</h3>
                <ul class="item">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/search">SEARCH</a></li>
                    <li><a href="/about-us">ABOUT US</a></li>
                    <li><a href="/search">PRODUCT</a></li>
                    <li><a href="/about-us">CONTACT</a></li>
                </ul>
            </div>

            <div class="grid-item">
                <h3>HELP</h3>
                <ul class="item">
                    <li><a href="/about-us">FAQ</a></li>
                    <!-- <li><a href="">AIZE GUIDE</a></li>
                    <li><a href="">SHIPPING & RETURNS</a></li> -->
                    <li><a href="/about-us">CONTACT</a></li>
                </ul>
            </div>

            <div class="grid-item">
                <h3>ACCOUNT</h3>
                <ul class="item">
                    <li><a href="/login">LOG IN</a></li>
                    <!-- <li><a href="">REGISTER</a></li> -->
                </ul>
            </div>

            <div class="grid-item">
                <h3>SHOUT OUT</h3>
                <p>We appreciate your interest in Our NATURAFACE We appreciate your support. Please don't hesitate to ask if there is a way we can help. We are eager to help you.</p>
            </div>
        </div>

        <div class="footer-payment-con">
            <ul class="payment">
                <li><i class="fa fa-cc-visa"></i></li>
                <li><i class="fa fa-credit-card"></i></li>
                <li><i class="fa fa-cc-mastercard"></i></li>
                <li><i class="fa fa-cc-paypal"></i></li>
                <li><i class="fa fa-cc-discover"></i></li>
                <li><i class="fa fa-cc-jcb"></i></li>
            </ul>
        </div>

        <div class="copyright">
            <div class="copy">
                COPYRIGHT &COPY; 2023 Web Project.
            </div>
            
            <div class="credit">
                Web Project , POWERED BY Group5Sec2
            </div>
        </div>

    </footer>
    <!-- -------- footer end --------------- -->

</body>
</html>