<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product By Admin</title>
    <!-- logo icon -->
    <link rel="icon" type="image/x-icon" href="../../../img/logo_pic1.webp">
    <!-- css -->
    <link rel="stylesheet" href="/style.css">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- script -->
    <script src="/js/callservice.js"></script>
    
    <!-- -------- nav start --------------- -->
    <nav class="con">
        <div class="con-item">
            <div class="logo">
                <a href="/">NATURAFACE</a>
            </div>
    
            <input type="checkbox" id="check">
            <ul class="menu">
                <li><a href="/">HOME</a></li>
                <li><a href="/about-us">ABOUT US</a></li>
                <li><a href="/search"><i class="fa fa-search"></i></a></li>
                <li><a href="/"><i class="fa fa-sign-out"></i></a></li>
                <label for="check" class="close-menu">X</label>
            </ul>
            <label for="check" class="open-menu"><i class="fa fa-bars"></i></label>
        </div>

    </nav>
    <!-- -------- nav end --------------- -->

    <!-- -------- section start --------------- -->
    <section>
        <form action="">
            <div class="section-con">
                <span>Add Product</span>
                <div class="item-con">
                    <div class="section-items">
                        <span>Add images</span>
                        <div class="dropfile-con">
                            <label for="input-file" id="drop-area">
                                <div class="img-view">
                                    <img src="../../../img/drop.png" alt="">
                                    <input type="text" id="url"> <br>
                                    <p><i class="fa fa-cloud-download"></i> ID image from Google Drive</p>
                                </div>
                            </label>
                        </div>
                    </div>

                    <div class="section-items">
                        <div class="input-item">
                            <label for="pID">Product ID</label> <br>
                            <input type="number" id="pID"> <br>
                        </div>

                        <div class="input-item">
                            <label for="pname">Product Name</label> <br>
                            <input type="text" id="pname"> <br>
                        </div>

                        <div class="input-item">
                            <label for="cate">Category</label> <br>
                            <select name="cate" id="cate">
                                <option value=""></option>
                                <option value="Toner">โทนเนอร์</option>
                                <option value="Serum">เซรั่ม</option>
                                <option value="Moiturizer">มอยเจอร์ไรเซอร์</option>
                                <option value="Mask sheet">แผ่นมาส์ก</option>
                                <option value="Sunscreen">ครีมกันแดด</option>
                            </select> <br>
                        </div>

                        <div class="input-item">
                            <label for="price">Price</label> <br>
                            <input type="text" id="price"> <br>
                        </div>

                        <div class="input-item">
                            <label for="pQuantity">Quantity</label> <br>
                            <input type="text" id="pQuantity"> <br>
                        </div>

                        <div class="input-item">
                            <label for="sdes">Short Description</label> <br>
                            <input type="text" id="sdes"> <br>
                        </div>

                        <div class="input-item">
                            <label for="des">Description</label> <br>
                            <textarea name="Des" id="des"></textarea>
                        </div>
                    
                    </div>
                </div>
            </div>

            <div class="send-con">
                <div class="button-upload">
                    <!-- <button type="submit">Publish Product</button> -->
                    <a href="/search-edit" id="insertProduct">Publish Product</a>
                    <a href="/search-edit">Cancel</a>
                    <!--<button type="reset">Cancel</button>-->
                    
                </div>

            </div>
        </form>


    </section>
    <!-- -------- section end --------------- -->

    <!-- -------- footer start --------------- -->
    <footer>
        <div class="footer-item-con">
            <div class="footer-item">
                <input type="text" id="send" placeholder="MESSAGE">
                <button type="submit">SEND</button>
            </div>

            <ul class="social">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div>

        <div class="footer-grid">
            <div class="grid-item">
                <h3>NAVIGATE</h3>
                <ul class="item">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/search">SEARCH</a></li>
                    <li><a href="/about-us">ABOUT US</a></li>
                    <li><a href="/search">PRODUCT</a></li>
                    <li><a href="/about-us">CONTACT</a></li>
                </ul>
            </div>

            <div class="grid-item">
                <h3>HELP</h3>
                <ul class="item">
                    <li><a href="/about-us">FAQ</a></li>
                    <!-- <li><a href="">AIZE GUIDE</a></li>
                    <li><a href="">SHIPPING & RETURNS</a></li> -->
                    <li><a href="/about-us">CONTACT</a></li>
                </ul>
            </div>

            <div class="grid-item">
                <h3>ACCOUNT</h3>
                <ul class="item">
                    <li><a href="/login">LOG IN</a></li>
                    <!-- <li><a href="">REGISTER</a></li> -->
                </ul>
            </div>

            <div class="grid-item">
                <h3>SHOUT OUT</h3>
                <p>We appreciate your interest in Our NATURAFACE We appreciate your support. Please don't hesitate to ask if there is a way we can help. We are eager to help you.</p>
            </div>
        </div>

        <div class="footer-payment-con">
            <ul class="payment">
                <li><i class="fa fa-cc-visa"></i></li>
                <li><i class="fa fa-credit-card"></i></li>
                <li><i class="fa fa-cc-mastercard"></i></li>
                <li><i class="fa fa-cc-paypal"></i></li>
                <li><i class="fa fa-cc-discover"></i></li>
                <li><i class="fa fa-cc-jcb"></i></li>
            </ul>
        </div>

        <div class="copyright">
            <div class="copy">
                COPYRIGHT &COPY; 2023 Web Project.
            </div>
            
            <div class="credit">
                Web Project , POWERED BY Group5Sec2
            </div>
        </div>

    </footer>
    <!-- -------- footer end --------------- -->
</body>

</html>